@using Microsoft.AspNetCore.Html
@using DoucmentManagmentSys.Models
@model IEnumerable<PrimacyDocument>

@{
    ViewData["Title"] = "In Process Documents";


}
@{
    Func<dynamic, IHtmlContent> TableHeader =
    @<th scope="col" class="justify-content-between">
                    @item
                </th>
    ;
}
@if (ViewData["Message"] != "")
{
    var message = ViewData["Message"].ToString();
    <div class="toast-container position-fixed top-0 start-50 p-3" style="z-index: 11">
        <div class="toast text-white bg-@(message.Contains("Error") ? "danger" : "success") border-0"
             id="TToast"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">

            <div class="d-flex">
                <div class="toast-body">
                    @message.Replace("Error : ", "").Trim()
                </div>
                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{


    @if (User.IsInRole("Uploader") || User.IsInRole("Revisor"))
    {
        <div class="bordered border-solid border-1 rounded-1 p-2" style="border:solid 1px #dee2e6;">
        <h1>Add Document</h1>
        @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <label>Document Code</label>

            <div class="form-group d-flex">
                <select name="SuperCode" onchange="superCodeChanged(this)" class="form-select">
                        <option value="RMS">RMS</option>
                        <option value="ARS">ARS</option>
                        <option value="ASS">ASS</option>
                        <option value="PMS">PMS</option>
                </select>
                        
                            <div class="form-group d-flex align-items-center h1 ">
                                -
                            </div>
                       
                <select name="SubCode" style="display:block" class="form-select normalCode">
                        <option value="A">A</option>
                        <option value="E">E</option>
                        <option value="V">V</option>
                    
                </select>
                        
                        

                <input type="text" class="form-control" id="subVersionCode" name="SubVersionCode" pattern="[0-9]{3}" maxlength="3" placeholder="000" />
                        
                        <div class="form-group d-flex align-items-center h1">
                            -
                        </div>

                <input type="text" class="form-control" id="versionCode" name="VersionCode" pattern="[0-9]{3}" placeholder="000" />
            </div
            <label>File</label>
            <INPUT id="oFile" type="file" runat="server" name="oFile" class="form-control">
            <br />
            
            <button id="btnUpload" type="submit" text="Upload" runat="server" class="btn-success p-2 rounded-2">Upload</button>
            <br />

        }
        </div>
    }
    @* <Label id="lblUploadResult" Runat="server"> @ViewBag.Message</Label> *@


    @* <a asp-area="" asp-controller="Home" asp-action="SaveFilesToDB" class="btn-success p-2 rounded-2 text-decoration-none">Save All</a> *@

    @* sapcecing *@

    @*a filter to search *@
    @* UseExtensions the search partial *@
    @await Html.PartialAsync("_SearchPartial")
    @* a table that holds all the documents from DB with a popup confirmation for delete and Download*@
    <table id="sourceTable" class="table-striped table-hover table-bordered table">
        <thead class="thead-dark">
            <tr>
                @TableHeader("Document Name")
                @TableHeader("Version")
                @TableHeader("Code")
                @TableHeader("Created At")
                @TableHeader("Updated At")
                @TableHeader("Status")
                @TableHeader("Update")
                @TableHeader("Download")
                @TableHeader("Action")
                @TableHeader("History")
                @TableHeader("View")


            </tr>
        </thead>
        <tbody class="DocsListPartial">
            @await Html.PartialAsync("_DocsListPartial", Model)
        </tbody>
    </table>

    @*     var user = User.IsInRole("Admin");
    <div>@user</div>

    if (!User.IsInRole("Admin"))
    {
        <div>click here to be admin @user
        </div>
        <a asp-area="" asp-controller="Home" asp-action="Admin" class="btn-success p-2 rounded-2 text-decoration-none">Admin</a>
    }

    else
    {
        <div>
            click here to remove admin @user
        </div>
        <a asp-area="" asp-controller="Home" asp-action="User" class="btn-success p-2 rounded-2 text-decoration-none">User</a>

    } *@
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please Login </p>
    </div>
}

@section Scripts {



    <script>

        // function Search() {
        //     get if there any Sorting in the url
        //     var SortingBy =    $("#SortingBy").val();
        //     var search = $(".form-control").val();
        //     $.ajax({
        //         url: "/Home/Search",
        //         type: "POST",
        //         beforeSend: function (request) {
        //             request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
        //         },
        //         data: { search: search },
        //         success: function (data) {

        //             // replace the whole page with the new data
        //             $(".DocsListPartial").html(data);

        //         }
        //     });
        // }

        


        function superCodeChanged(element) { 
            console.log(Object.values(document.getElementsByClassName("normalCode")))
            if (element.value !== "RMS") {
                Object.values(document.getElementsByClassName("normalCode")).forEach(element => {
                    element.style.display = "none";
                })
            }
            else {
                Object.values(document.getElementsByClassName("normalCode")).forEach(element => {
                    element.style.display = "revert";
                })
            }
        }
        function TToast() {
            var toastElList = [].slice.call(document.querySelectorAll('#TToast'));
            
            if (toastElList.length !=0) {
                 var toastList = toastElList.map(function (toastEl) {
                                return new bootstrap.Toast(toastEl);
                            });
                            toastList.forEach(toast => toast.show());
            }
           
        }

        $(document).ready(function () {


            document.getElementById('subVersionCode').addEventListener('input', function (e) {
            this.value = this.value.replace(/[^0-9]/g, ''); // Remove non-numeric characters
            if (this.value.length > 3) {
                this.value = this.value.slice(0, 3); // Limit to 3 digits
            }
            });

            document.getElementById('versionCode').addEventListener('input', function (e) {
                this.value = this.value.replace(/[^0-9]/g, ''); // Remove non-numeric characters
                if (this.value.length > 3) {
                    this.value = this.value.slice(0, 3); // Limit to 3 digits
                }
            });


            TToast();
            const container = document.getElementsByClassName('bubbleContainer');


            // get elemenent after the container

            for (let i = 0; i < container.length; i++) {
                const bubble = container[i].querySelector('.bubble');
                container[i].addEventListener('mouseover', () => {
                    bubble.classList.add('active');

                });

                container[i].addEventListener('mouseout', () => {
                    bubble.classList.remove('active');

                });
            }

        });
    </script>

}
